@using COGSLib;

<div>
    <h1 @onclick="TitleClicked">@Title</h1>
    @if (visible)
    {
        <COGSPerformance Performance="Performance" />
        <COGSEntries Entries="Entries" />
    }
</div>

@code {
    [Parameter]
    private string Title { get; set; }
    [Parameter]
    private COGSResult COGSResult { get; set; }

    private Performance Performance => COGSResult?.Performance ?? new Performance(0, 0, 0, 0);
    private List<ComputedEntry> Entries => COGSResult?.Entries ?? new List<ComputedEntry>();
    private bool visible = false;

    private void TitleClicked()
    {
        visible = !visible;
    }
}
